body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

header nav a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: .3em;
}

footer {
    font-size: .8em;
}
