@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-monospace: 'Courier Prime', monospace;
  /* colors */
  --clr-light: #fff;
  --clr-dark: #222;
  --clr-accent-1: cyan; /* 0, 255, 255 */
  --clr-accent-2: yellow; /* 255, 255, 0 */
  --clr-accent-3: magenta; /* 255, 0, 150 */
  --clr-gray: gray;
  /* font sizes */
  --fs-h1: 1.2rem;
  --fs-h2: 1.1rem;
  --fs-body: 1rem;
  --fs-logo: 2rem;
  /* font weight */
  --fw-reg: 400;
  --fw-bold: 900;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}


h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2);
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.txt-mute {
  color: var(--clr-gray);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nav */
header {
  max-width: 1200px;
  padding: 1em;
  display: flex;
  align-items: center;
  margin: auto;
}

nav ul a {
  display: inline-block;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul a:not(:first-child) {
  padding-left: 1.5em;
}

span.full-nav {
  display: none;
}

#logo {
  height: 2em;
  margin-left: auto;
}

header nav ul img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}

img.icon {
  height: 2em;
}

/* form style */
#msg-form label {
  color: lightgrey;
  padding-bottom: .3em;
  padding-right: .2em;
}

form input, form textarea {
  font-family: var(--ff-monospace);
}

#form-btn {
  font-family: var(--ff-primary);
}

/* button style */
button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: none;
  padding: .8em;
}

/* Layout */
.content {
  margin: auto;
  max-width: 1200px;
}

.col img {
  height: 2.5em;
  margin-bottom: 5px;
}

/* Portfolio */
[class ^="p-"] {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  color: black;
}

/* Portfolio previews */
#work .p-1 {
  background: radial-gradient(circle, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 0.5) 100%), top url('../img/radiant-salon.jpg');
  background-color: var(--clr-accent-1);
}

#work .p-2 {
  background: radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 0.5) 100%), top url('../img/pobcone.jpg');
  background-color: var(--clr-accent-2);
}

#work .p-3 {
  background: radial-gradient(circle, rgba(255, 0, 150, 1) 0%, rgba(255, 0, 150, 0.5) 100%), top url('../img/spacastle.jpg');
  background-color: var(--clr-accent-3);
}

#work [class ^="p-"] {
  background-size: 100% auto;
  transition: all 0.2s ease-out;
}

#work [class ^="p-"]:hover {
  background-size: 110% auto;
}

p.work-txt {
  opacity: 0;
  transition: all 0.1s linear;
  padding: 0 1em;
}

#work [class ^="p-"]:hover p.work-txt {
  opacity: 1;
}

/* Portfolio text */
#work h2 {
  color: var(--clr-dark);
}

#work button {
  margin: .5em 0;
}

/* About */
#who {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px 20px;
}

#who .links {
  list-style-type: none;
}

.col {
  margin: auto;
}

.col:first-child {
  padding-bottom: 2em;
}

/* Contact */
#msg-form h2 {
  padding-bottom: 1em;
}

#chat {
  padding: 4em 0;
}

#msg-form {
  border-style: none;
  max-width: 1200px;
  margin: auto;
}

#form-message {
  width: 100%;
}

#msg-form>div:first-child {
  padding-bottom: .5em;
}

.label-form {
  display: flex;
}

.label-form:first-child {
  padding-bottom: .2em;
}

.label-form input {
  width: 100%;
  flex: auto;
  border: none;
}

#form-btn {
  background-color: black;
  color: white;
  padding: .7em;
  border: none;
}

/* Footer */
footer {
  text-align: center;
  font-size: .8em;
  color: lightgray;
  padding: 5px 0;
  bottom: 0;
  height: 30px;
}

@media screen and (min-width: 450px) {
  span.full-nav {
    display: inline-block;
    padding-left: .5em;
  }

  .form-inline {
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --fs-h1: 1.4rem;
    --fs-h2: 1.2rem;
    --fs-logo: 2.5rem;
  }

  nav li:nth-child(2) {
    padding: 0 50px;
    margin-left: 10px;
  }

  .container {
    display: flex;
  }

  #work {
    flex-wrap: wrap;
  }

  [class ^="p-"] {
    height: 36vh;
    flex-grow: 1;
  }

  .p-3 {
    width: 100%;
  }

  #who {
    padding: 30px;
    text-align: left;
  }

  #who .content {
    display: flex;
    margin: auto;
    padding: 1em 0;
  }

  .col {
    flex: 1;
  }

  .col:last-child {
    flex: 1.5;
  }

  .col:first-child {
    padding-bottom: 0;
  }

  .col>div {
    padding: 10%;
    line-height: 1.5em;
  }

  #chat {
    padding: 4em 2em;
  }

  #contact-form fieldset {
    display: flex;
  }

  #msg-form>div {
    display: flex;
    flex-flow: column;
    flex: 1;
  }

  #msg-form>div:last-child {
    padding-left: 1em;
    flex: auto;
  }

  .label-form {
    display: flex;
  }

  .form-inline {
    display: block;
  }
}

@media all and (min-width: 900px) {
  #work {
    flex-wrap: nowrap;
  }

  [class ^="p-"] {
    width: 33.33%;
    height: 66.66vh;
  }

  .col:last-child {
    flex: 2.5;
  }

  #who .content {
    display: flex;
    margin: auto;
    padding: 0;
  }

  #msg-form>div:first-child {
    flex: .5;
  }

  #chat {
    padding: 4em 4em;
  }
}