.nav3 {
    text-decoration: underline;
    text-decoration-thickness: .25em;
    text-decoration-color: var(--clr-accent-2);
}

.jk {
    grid-template-columns: 1fr;
    padding: 40px 0;
    height: 480px;
}

.jk-contact {
    display: grid;
}

.jk-contact a:nth-child(2) {
    padding: 0 40px;
}

.jk-hi {
    padding: 0 18%;
}

@media (min-height: 600px) {
    .jk {
        height: calc(100vh - 100px - 10px);
    }
}