body {
    background-color: white;
    width: 100%;
}

.navbar {
    background-color: #DDF5C2;
}

.navbar-default .navbar-brand, .icon-bar {
    color: #FF8860;
}

.navbar-default .navbar-brand:hover{
    color: #FEDD68;
}

/* Collapsed Menu Icon: bars color */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FEDD68;
}

.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #FF8860;
}

/* Collapsed Menu Icon: default */
.navbar-header button.navbar-toggle, .nav-bar-header .icon-bar {
    border: 1px solid #FF8860;
    background-color: #FF8860;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border: 0px;
    background-color: #FEDD68;
}



#collapsed-navbar {
    background-color: #FF8860;
    text-align: center;
}

/* Dropdown Menu Items text color */
#collapsed-navbar a {
    color: #DDF5C2;
}

#collapsed-navbar a:hover {
    color: #FF8860;
    background-color: #FEDD68;
}

h1 {
    margin-bottom: 1em;
}


.row section {
    padding: 1px 25px;
    background-color: #DDF5C2;
    color: #FF8860;
    margin: 0 auto;
    width: 95%;
}

@media (min-width: 767.98px) {
    #collapsed-navbar {
        display: none !important; 
    }
}

@media (max-width: 767.98px) {
    .row section {
        width: 70%;
    }
}

h2 {
    font-size: 1.5em;
    padding: 0px;
}